@charset "utf-8";

.openbtn{
	position:relative;/*ボタン内側の基点となるためrelativeを指定*/
	background:#22212298;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
	background: #fff;
  	width: 45%;
  }


.openbtn span:nth-of-type(1) {
	top:13px;	
}

.openbtn span:nth-of-type(2) {
	top:19px;
}

.openbtn span:nth-of-type(3) {
	top:25px;
}

.openbtn span:nth-of-type(3)::after {
	content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
	position: absolute;
	top:5px;
	left:-2px;
	color: #fff;
	font-size: 0.6rem;
	text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(3)::after {
	content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
	top:5px;
	left:4px;
}

.nav {
    position: fixed;
    top: 20%;
    right: -70%;
    width: 200px;
  height: auto;
  margin-left: auto;
  /* メニューを縦に */
  display: flex;
  flex-direction: column;
  color: #efefef;
  font-family: 'myfont';
  background-color: rgba(16, 16, 15, 0.8);
  transition: .3s;
  z-index: 5000;
}

.nav.open {
    right: 0;
    bottom: auto;
}

.nav-list {
    width: 300px;
  height: 60px;
  padding: 0 0 0 10px;
  /* メニューテキスト位置をリスト内中心に*/
  display: flex;
  justify-content: start;
  align-items: center;
}

li {
    border-bottom: 3px solid #fff;
    width: 300px;
}
